<!DOCTYPE html>
<head>
    <title>Autós iskolák térképe</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <style>
        #map {
            width: 100%;
            height: 100vh;
        }
        body {
            margin: 0;
        }
    </style>
    <script src="static/geojson.js"></script>
</head>
    <body>
        <div id="map"></div>
        <script>
            var map = L.map('map').setView([47.168463, 19.395633], 8);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            }).addTo(map);

            L.geoJSON(data, {
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(`<div><h3>${feature.properties.name}</h3><p><strong>Category:</strong> ${feature.properties.category}</p><p><strong>Rating:</strong> ${feature.properties.rating}</p><p><strong>Email:</strong> <a href="mailto:${feature.properties.email}">${feature.properties.email}</a></p><p><strong>Web:</strong> <a href="${feature.properties.web}" target="_blank">${feature.properties.web}</a></p><p><strong>Phone:</strong> ${feature.properties.phone}</p><p><strong>Address:</strong> ${feature.properties.address}</p><p><strong>About:</strong> ${feature.properties.about}</p><p><strong>NKHAzon:</strong> ${feature.properties.nkhazon}</p><p><strong>Tags:</strong> ${feature.properties.tags.join(', ')}</p><p><strong>Openings:</strong> ${feature.properties.openings}</p></div>`);
                }
            }).addTo(map);
        </script>
    </body>
</html>